<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">


<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Parametros</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Inicio</a></li>
                    <li><i class="fa fa-bars"></i><a href="/parameters">Parametros</a></li>
                    <li><i class="fa fa-square-o"></i>Parametros</li>
                </ol>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Paises</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Paises.</p>
                            <a href="/parameters/countries" class="btn btn-primary">Ver Paises</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Estados</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Usuarios.</p>
                            <a href="/parameters/states" class="btn btn-primary">Ver Estados</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Ubicaciones</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Ubicaciones.</p>
                            <a href="/parameters/locations" class="btn btn-primary">Ver Ubicaciones</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Contactos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Contactos.</p>
                            <a href="/parameters/contacts" class="btn btn-primary">Ver Contactos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Proveedores</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Proveedores.</p>
                            <a href="/parameters/suppliers" class="btn btn-primary">Ver Proveedores</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Clientes</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Clientes.</p>
                            <a href="/parameters/clients" class="btn btn-primary">Ver Clientes</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <di class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Módulos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Módulos.</p>
                            <a href="/parameters/modules" class="btn btn-primary">Ver Módulos</a>
                        </div>
                    </div>
                </div>
            </section>
        </di>
    </div>
    </section>
</div>
</body>
</html>
