<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> FLEET HOME</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Inicio</a></li>
                    <li><i class="fa fa-bars"></i>Fleet Home</li>
                    <li><i class="fa fa-square-o"></i>Páginas</li>
                </ol>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de Vehículos.</p>
                            <a href="/fleet/vehicles" class="btn btn-primary">Ver Vehículos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Alquiler de Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de alquiler de vehículos.</p>
                            <a href="/fleet/hires" class="btn btn-primary">Ver Alquileres</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Movimientos de Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de alquiler de vehículos.</p>
                            <a href="/fleet/movements" class="btn btn-primary">Ver Movimientos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Mantenimiento de Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver record de mantenimiento.</p>
                            <a href="/fleet/maintenances" class="btn btn-primary">Ver Mantenimientos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Tipos de Vehículo</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de tipos de vehículos.</p>
                            <a href="/fleet/vehicleTypes" class="btn btn-primary">Ver Tipos de Vehículos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Estado de Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de estado de vehículos.</p>
                            <a href="/fleet/vehicleStatuses" class="btn btn-primary">Ver Status de Vehículos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Marcas de Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de marcas de vehículos.</p>
                            <a href="/fleet/vehicleMakes" class="btn btn-primary">Ver Marcas Vehículo</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Modelos de Vehículos</b></h3></h5>
                            <p class="card-text">Entre aquí para ver el mantenedor de modelos de vehículos.</p>
                            <a href="/fleet/vehicleModels" class="btn btn-primary">Ver Modelos de Vehículos</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    </section>
</div>

</body>
</html>
